.white-text {
    color: #fff;
}

.light-grey {
    background-color: #eee;
}

header.main-header, .tasks-section {
    padding: 50px 0;
}

#task-form {
    max-width: 500px;
    margin: 0 auto;
}

.form-control {
    text-align: center;
}

.card {
    transition: 0.3s ease;
}

.card-header i {
    float: right;
    opacity: 0;
    transition: 0.3s ease;
    transform: translateX(20px);
}

.card-header i:hover {
    cursor: pointer;
    color: #dc3545;
}

.card:hover {
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 3px rgba(47, 47, 47, 0.3);
}

.card:hover > .card-header i {
    opacity: 1;
    transform: translateX(0);
}
